*.o
*.so
PoKeysLib.pro.user
/binaries/windows/dll/64/PoKeyslib.dll.embed.manifest
/binaries/windows/dll/64/PoKeyslib.dll_manifest.rc
/binaries/windows/dll/64/PoKeyslib.dll_manifest.res
/binaries/windows/dll/64/PoKeyslib.exp
/binaries/windows/dll/64/PoKeyslib.ilk
/binaries/windows/dll/64/PoKeyslib.lib
/binaries/windows/dll/64/PoKeyslib.pdb
/binaries/windows/dll/32/PoKeyslib.dll.embed.manifest
/binaries/windows/dll/32/PoKeyslib.dll_manifest.rc
/binaries/windows/dll/32/PoKeyslib.dll_manifest.res
/binaries/windows/dll/32/PoKeyslib.exp
/binaries/windows/dll/32/PoKeyslib.ilk
/binaries/windows/dll/32/PoKeyslib.lib
/binaries/windows/dll/32/PoKeyslib.pdb
/Python/__pycache__
